openapi: 3.0.0
info:
  title: MCP API
  version: 1.0.0
  description: Minimal API spec for GPT integration

servers:
  - url: https://mcp.beachdev.jp:10043

paths:
  /list-tables:
    get:
      operationId: listDBtables
      summary: List all tables in the database
      responses:
        '200':
          description: List of tables
          content:
            application/json:
              schema:
                type: object
                properties:
                  tables:
                    type: array
                    items:
                      type: string

  /describe-table/{table_name}:
    get:
      operationId: describeTableStructure
      summary: Get structure of the specified table
      parameters:
        - name: table_name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Structure of the table
          content:
            application/json:
              schema:
                type: object
                properties:
                  table_name:
                    type: string
                  columns:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        type:
                          type: string

  /get-data/{table_name}:
    get:
      operationId: getTableData
      summary: Get records from a table with optional filters
      parameters:
        - name: table_name
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Rows from the table
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object

  /count-records/{table_name}:
    get:
      operationId: countTableRecords
      summary: Count records in a table
      parameters:
        - name: table_name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Record count
          content:
            application/json:
              schema:
                type: object
                properties:
                  table_name:
                    type: string
                  record_count:
                    type: integer
